{%extends 'base.html'%} {%load static%} 
{% load markdown_extras %}
{%block content%}

<main>
  <!--? Hero Start -->
  
  <!-- Hero End -->
  <!--? Blog Area Start -->
  <section class="blog_area single-post-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 posts-list">
          <div class="single-post">
            <div class="feature-img">
              <img
                class="img-fluid"
                src="{{blog.hq_image.url}}"
                alt=""
              />
            </div>
            <div class="blog_details">
              <h2 style="color: #2d2d2d;">
                {{blog.main_title}}
              </h2>
              <div class="quote-wrapper">
                <div class="quotes">
                  {{blog.extract}}
                </div>
              </div>
              <p class="excert">
                {{blog.content | markdown | safe}}
              </p>
            </div>
          </div>
          
          <div class="blog-author">
            <div class="media align-items-center">
              <img src="{{blog.author_pic.url}}" alt="" />
              <div class="media-body">
                <a href="#">
                  <h4>{{blog.author_name}}</h4>
                </a>
                <p>
                  {{blog.author_remarks | markdown | safe}}
                </p>
              </div>
            </div>
          </div>
          
          
        
      </div>
    </div>
  </section>
  <!-- Blog Area End -->
</main>

{%endblock content%}
